{% extends "index.html" %}

{% block title %}Data{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="text-center">Upload Video for Processing</h1>
          <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="file" class="form-label">Select video file</label>
              <input type="file" class="form-control" id="file" name="file" accept="video/*">
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-dark-gray btn-block">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

